<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.luvyourleftovers">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".RecipeList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopping_cart.ShoppingCart"
            android:parentActivityName=".Home_Screen_DEV"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindShops"
            android:parentActivityName=".Home_Screen_DEV"
            android:screenOrientation="portrait" />
        <activity android:name=".DisplayRecipe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewRecipe"
            android:parentActivityName=".Home_Screen_DEV"
            android:screenOrientation="portrait" />
        <activity android:name=".Home_Screen_DEV"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IngredientsRecipesActivity"
            android:parentActivityName=".Home_Screen_DEV"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>